<head th:fragment="encabezado" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Punto de venta con Spring Boot. Control de inventario y ventas " name="description">
    <meta content="Parzibyte" name="author">
    <title>Examen Flexibility</title>
    <!-- Cargar el CSS de Boostrap-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fa.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>