<footer class="px-2 py-2 fixed-bottom bg-dark" th:fragment="pie" xmlns:th="http://www.w3.org/1999/xhtml">
    <span class="text-muted">Examen
        <i class="fa fa-code"></i>
        API
        <i class="fa fa-heart"></i>
        Compras
        <a class="text-white">Flexibility</a>
    </span>
    <script type="text/javascript">
        // Tomado de https://github.com/parzibyte/cotizaciones_web/blob/master/js/cotizaciones.js#L2
        document.addEventListener("DOMContentLoaded", () => {
            const menu = document.querySelector("#menu"),
                botonMenu = document.querySelector("#botonMenu");
            if (menu) {
                botonMenu.addEventListener("click", () => menu.classList.toggle("show"));
            }
        });
    </script>
</footer>